<?xml version="1.0" encoding="ISO-8859-1" ?>
<?xml-stylesheet type="text/xsl" href="/TiVoConnect?Command=XSL&amp;Container=$quote($name)"?>
<TiVoContainer>
    <Tivos>
        #for $tivo in $tivo_names
            #if $tivo
                <Tivo>$tivo_names[$tivo]</Tivo>
            #end if
        #end for
    </Tivos>
    <ItemStart>$start</ItemStart>
    <ItemCount>#echo len($videos) #</ItemCount>
    <Details>
        <Title>$escape($name)</Title>
        <ContentType>x-container/tivo-videos</ContentType>
        <SourceFormat>x-container/folder</SourceFormat>
        <TotalItems>$total</TotalItems>
        <UniqueId>$crc($guid + $name)</UniqueId>
    </Details>
    #for $video in $videos
    #if $video.is_dir
    <Item>
        <Details>
            <Title>$escape($video.title)</Title>
            <ContentType>x-container/folder</ContentType>
            <SourceFormat>x-tivo-container/tivo-dvr</SourceFormat>
            <UniqueId>$crc($guid + $video.small_path)</UniqueId>
            <TotalItems>$video.total_items</TotalItems>
            <LastCaptureDate>$video.captureDate</LastCaptureDate> 
        </Details>
        <Links>
            <Content>
                <Url>/TiVoConnect?Command=QueryContainer&amp;Container=$quote($name)/$quote($video.name)</Url>
                <ContentType>x-tivo-container/folder</ContentType>
            </Content>
        </Links>
    </Item>
    #else
    <Item>
        <Details>
            <Title>$escape($video.title)</Title>
            <ContentType>video/x-tivo-mpeg</ContentType>
            #if not $video.valid
            <CopyProtected>Yes</CopyProtected>
            #end if
            <SourceFormat>video/x-ms-wmv</SourceFormat>
            <SourceSize>$video.size</SourceSize>
            <Duration>$video.duration</Duration>
            #if $video.isEpisode != 'false' and ($video.episodeTitle or $video.seriesTitle)
            #if $video.episodeTitle
            <EpisodeTitle>$escape($video.episodeTitle)</EpisodeTitle>
            #else
            <EpisodeTitle>$escape($video.title)</EpisodeTitle>
            #end if 
            #end if 
            <Description>$escape($video.description)</Description>
            <SourceChannel>$escape($video.displayMajorNumber)</SourceChannel>
            <SourceStation>$escape($video.callsign)</SourceStation>
            <SeriesId>$video.seriesId</SeriesId>
            <CaptureDate>$video.captureDate</CaptureDate> 
        </Details>
        <Links>
            <Content>
                <ContentType>video/x-tivo-mpeg</ContentType>
                    <AcceptsParams>No</AcceptsParams>
                    <Url>/$quote($container)$quote($video.part_path)</Url>
                </Content>
                <CustomIcon>
                    <ContentType>video/*</ContentType>
                    <AcceptsParams>No</AcceptsParams>
                    <Url>urn:tivo:image:save-until-i-delete-recording</Url>
                </CustomIcon>
            <TiVoVideoDetails>
                <ContentType>text/xml</ContentType>
                <AcceptsParams>No</AcceptsParams>
                <Url>/TiVoConnect?Command=TVBusQuery&amp;Container=$quote($container)&amp;File=$quote($video.part_path)</Url>
            </TiVoVideoDetails>
            <Push>
                <Container>$escape($container)</Container>
                <File>$escape($video.part_path)</File>
            </Push>
        </Links>
    </Item>
    #end if
    #end for
</TiVoContainer>
